@page "/"
@page "/login"
@layout ITSM.WEB.Client.Layout.LoginLayout
@using ITSM.Entidades
@using ITSM.WEB.Client.Auth
@using ITSM.Negocio
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

@inject UsuarioNegocio UsuarioNegocio
@inject NavigationManager Nav
@inject ISnackbar Snackbar
@inject AuthenticationStateProvider AuthStateProvider

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center justify-center" Style="height: 100vh;">
    <MudPaper Elevation="25" Class="pa-8" Width="100%" Style="border-radius: 20px; border-top: 6px solid #004B8D;">
        <MudStack Spacing="4">
            <div class="d-flex justify-center mb-4">
                <MudIcon Icon="@Icons.Material.Filled.Security" Color="Color.Primary" Style="font-size: 4rem;" />
            </div>

            <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Primary"><b>Soporte IRTP</b></MudText>
            <MudText Typo="Typo.body2" Align="Align.Center">Gestión de Servicios de TI - OTIC</MudText>

            <MudTextField @bind-Value="user" Label="Usuario Institucional" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Person" />
            <MudTextField @bind-Value="pass" Label="Contraseña" Variant="Variant.Outlined" InputType="InputType.Password" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Lock" />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" OnClick="EjecutarLogin" Class="mt-4">
                INGRESAR AL SISTEMA
            </MudButton>
        </MudStack>
    </MudPaper>
</MudContainer>

@code {
    private string user = "";
    private string pass = "";

    private async Task EjecutarLogin()
    {
        try
        {
            var usuario = await UsuarioNegocio.LoginAsync(user, pass);
            if (usuario != null)
            {
                await ((ProveedorAutenticacion)AuthStateProvider).NotificarLogin(usuario);
                Nav.NavigateTo("/dashboard");
            }
            else
            {
                Snackbar.Add("Credenciales incorrectas o usuario inactivo.", Severity.Error);
            }
        }
        catch
        {
            Snackbar.Add("Error al conectar con la base de datos OTITO.", Severity.Error);
        }
    }
}