@using ITSM.WEB.Client.Layout
@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <div class="d-flex flex-column align-items-center justify-content-center vh-100">
                    <h3 class="mb-4">No estás autorizado para ver esta página.</h3>
                    <a href="login" class="btn btn-primary btn-lg">Ir al Login</a>
                </div>
            </NotAuthorized>
            <Authorizing>
                <div class="d-flex justify-content-center align-items-center vh-100">
                    <p>Verificando credenciales...</p>
                </div>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="d-flex flex-column align-items-center justify-content-center pt-5">
                <h3>Página no encontrada</h3>
                <p>La URL solicitada no existe.</p>
                <a href="/" class="btn btn-secondary mt-3">Volver al Inicio</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>