@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #f5f5f5;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>